{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "navigator":      true,
        "$":              true,
        "_":              true,
        "angular":        true,
        "Ignition":       true,
        "ignition":       true,
        "$LAB":           true,
        "s_clven":        true,
        "s_gi":           true,
        "s_account":      true,
        "trackLink":      true,
        "gigya":          true,
        "optimizely":     true,
        "carsJSModule":   true,
        "jasmine":        true,
        "describe":       true,
        "xdescribe":       true,
        "it":             true,
        "xit":             true,
        "expect":         true,
        "beforeEach":     true,
        "afterEach":      true,
        "spyOn":          true,
        "module":          true,
        "inject":          true
    },
    "rules": {
        "one-var": 2,
        "vars-on-top": 2,
        "no-mixed-requires": 0,
        "wrap-iife": [2, "any"],
        "camelcase": 2,
        "curly": 1,
        "eqeqeq": 0,
        "no-extend-native": 1,
        "no-native-reassign": 2,
        "guard-for-in": 2,
        "func-style": [1, "declaration"],
        "wrap-iife": 1,
        "no-lonely-if": 1,
        "no-mixed-spaces-and-tabs": 2,
        "no-use-before-define": 1,
        "no-unused-vars" : 1,
        "no-undefined" : 1,
        "strict": 0,
        "new-cap": 2,
        "no-caller": 1,
        "no-empty": 0,
        "no-new": 0,
        "quotes": 0,
        "no-trailing-spaces": 1,
        "no-comma-dangle": 1,
        "no-underscore-dangle": 0,
        "no-console": 1,
        "no-debugger": 1,
        "no-eq-null": 0,
        "no-eval": 1,
        "space-infix-ops": 1,
        "block-scoped-var": 2,
        "dot-notation": 1,
        "complexity": 0,
        "no-iterator": 1,
        "no-loop-func": 1,
        "no-multi-str": 1,
        "no-proto": 1,
        "no-script-url": 1,
        "no-shadow": 0,
        "no-shadow-restricted-names": 1,
        "no-dupe-keys": 2,
        "eol-last": 0,
        "space-after-keywords": [2, "always"],
        "brace-style": [1, "1tbs", {
            "allowSingleLine": true
        }],
        "semi": [2, "always"]
    }
}
